body 
{
    background-color: rgb(66, 62, 62);
}





.cart 
{
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item
{
    width: 300px;
    height: 100%;
    position: relative;
    z-index: 1;
   
    margin-top: 20px;
   
    transition: all 0.3s ease-in-out;
}


.image 
{
    width: 300px;
    height: 400px;
    position: relative;
}
img 
{
    width: 100%;
    display: block;
    object-fit: cover;
    margin: auto;
}
.item p 
{
    text-transform: capitalize;
    font-size: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    color: white;
}
.item p:hover 
{
    opacity: 1;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    }
    

    
   
    




